@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* CSS Custom Properties */

:root {
  --ff-primary: 'Poppins', sans-serif;

  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-800: 2.25rem;

  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-netural-400: hsl(229, 6%, 66%);
  --clr-neutral-700: hsl(234, 12%, 34%);

  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
}

/* CSS Reset */

*,
::before,
::after {
  box-sizing: border-box;
}

/* Global Styles */

html {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  line-height: 1.7;
  color: var(--clr-netural-400);
}

body {
  margin: 0;
  padding-block-end: 5rem;
}

h1,
h2,
h3 {
  color: var(--clr-neutral-700);
  line-height: 1.1;
}

/* Utility Classes */

.wrapper {
  max-width: 68.75rem;
  margin-inline: auto;
}

.wrapper--narrow {
  max-width: 34.375rem;
}

/* Header Section */

header {
  text-align: center;
  margin-block: 5rem;
}

/* Layout Classes */

.layout-flex {
  --gap: 2rem;
  display: flex;
  gap: var(--gap);
}

.layout-flex > * {
  flex: 1;
}

.col {
  display: grid;
  align-content: center;
  gap: var(--gap);
}

/* Card Styles */

.card {
  padding: 2rem;
  border-top: 4px solid;
  border-radius: 0.325rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.border-cyan {
  border-color: var(--clr-cyan);
}

.border-red {
  border-color: var(--clr-red);
}

.border-orange {
  border-color: var(--clr-orange);
}

.border-blue {
  border-color: var(--clr-blue);
}
